bgcolor-navbar {
    min-height: 4rem;
    background-color: #7952b3;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
}
/* p {
    color: red;
    text-shadow: #FC0 1px 0 10px;
} */
.margin-auto {
    padding: auto;
}
.btn-circle.btn-xl {
    width: 120px;
    height: 120px;
    padding: 10px 16px;
    border-radius: 60px;
    font-size: 12px;
    text-align: center;
}
.btn-circle.btn-sm {
    width: 16px;
    height: 16px;
    padding: 0px 0px;
    border-radius: 8px;
    font-size: 8px;
    text-align: center;
}