{% extends 'base.html' %}
{%block title %}
  <title>About </title>
{% endblock title%}
{%block content %}
    {% comment %} <div class='container'>
        <h1> {{contact_text}} </h1>   
    </div> {% endcomment %}
    <div class="container mt-5">     {% comment %} {{ user.email }} {% endcomment %}
      <h3 class="questions-title">Hola {{name_evaluator}}. Las siguientes preguntas están divididas en categorías que ayudan a evaluar el
        performance del equipo de Reservamos. </h3>
      <div class='container d-flex justify-content-center text-center'>
        <form action="{% url 'evaluation' %}" method="POST" class="form-signin mt-3 col-6 register-login-input">{% csrf_token %}
          <fieldset>
            <legend>Choose a person to start the evaluation</legend>
              <select name="name_person" id="name-select" onchange="javascript:this.form.submit()" required>
                <option value=""> -- Please choose an option -- </option>
                {% for people in list_people %}
                <option value="{{ people.name }}">{{ people.name }}</option>
                {% endfor %}
              </select>
          </fieldset>
        </form>
      </div>
      <br>
    </div>
{% endblock content%}