{% extends 'base.html' %}
{%block title %}
  <title>Edit People</title>
{% endblock title%}

{% block content%}
  <div class='container'>
    </br>
    {% comment %} {% if people_obj.manage == request.user %} {% endcomment %}
    {% if user.email == 'edith@reservamos.mx' %}
    <form method="POST" class='row'>
      {% csrf_token %}  {% comment %} to make secure {% endcomment %}
        <div class='container'>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" name='name' placeholder="{{people_obj.name}}" value="{{people_obj.name}}" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Category</label>
            <div class="col-sm-10">
              <select class="form-control form-control-sm" name="category" id="category-select" required>
                <option value=""> -- Please choose an option -- </option>
                <option value="Operation">Operation</option>
                <option value="Strategist">Strategist</option>
                <option value="Direction">Direction</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" name='email' placeholder="email" value="{{people_obj.email}}" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Area</label>
            <div class="col-sm-10">
              <select class="form-control form-control-sm" name="area" id="area-select" required>
                <option value=""> -- Please choose an option -- </option>
                <option value="business-development">business-development</option>
                <option value="customer-care">customer-care</option>
                <option value="customer-service">customer-service</option>
                <option value="engineer">engineer</option>
                <option value="finance">finance</option>
                <option value="HR">HR</option>
                <option value="marketing">marketing</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Leader Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" name='leader' placeholder="full name of the leader" value="{{people_obj.leader}}" required>
            </div>
          </div>
        </div>
        <div class="col-sm-4 container">
            <button type="submit" class="form-control btn btn-primary text-center">Update person</button>
        </div>
    </form>
    {% else %}
      <p>Access Restricted, You Are Not Allowed!</p>
    {% endif %}
  </div>
{% endblock content %}
