{% extends 'base.html' %}
{%block title %}
  <title> People </title>
{% endblock title%}
{%block content %}
  <div class='container'>
    </br>
    {% if user.email == 'edith@reservamos.mx' or user.is_superuser %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>  
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" class='row'>
      {% csrf_token %}  {% comment %} to make secure {% endcomment %}
        <div class='container'>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" name='name' placeholder="Full Name" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Category</label>
            <div class="col-sm-10">
              <select class="form-control form-control-sm" name="category" id="category-select" required>
                <option value=""> -- Please choose an option -- </option>
                <option value="Operation">Operation</option>
                <option value="Strategist">Strategist</option>
                <option value="Direction">Direction</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" name='email' placeholder="email" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Area</label>
            <div class="col-sm-10">
              <select class="form-control form-control-sm" name="area" id="area-select" required>
                <option value=""> -- Please choose an option -- </option>
                <option value="business-development">business-development</option>
                <option value="customer-care">customer-care</option>
                <option value="customer-service">customer-service</option>
                <option value="engineer">engineer</option>
                <option value="finance">finance</option>
                <option value="HR">HR</option>
                <option value="marketing">marketing</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Leader Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" name='leader' placeholder="Full Name of the Leader" required>
            </div>
          </div>
        </div>
        <div class="col-sm-4 container">
            <button type="submit" class="form-control btn btn-primary text-center">Add person</button>
        </div>
    </form>
    </br>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Email</th>
          <th scope="col">Area</th>
          <th scope="col">Leader</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in all_people %}
        <tr>
          <td>{{obj.name}}</td>
          <td>{{obj.category}}</td>
          <td>{{obj.email}}</td>
          <td>{{obj.area}}</td>
          <td>{{obj.leader}}</td>
          <td><a href="{% url 'edit_people' obj.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
          <td><a href="{% url 'delete_people' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-5">
        <li class="page-item"> <a class="page-link" href="?pg=1"><<</a></li>
        {% if all_people.has_previous %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_people.previous_page_number }}">{{ all_people.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="?pg={{ all_people.number }}">{{ all_people.number }}</a></li>
        
        {% if all_people.has_next %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_people.next_page_number }}">{{ all_people.next_page_number }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?pg={{ all_people.paginator.num_pages }}">>></a></li>
      </ul>
    </nav>
    {% endif %}
  </div>
{% endblock content%}
